/* estilos globales pero se nesesita ser llamado */
.bg-color-dark {
  background-color: var(--color-dark);
}
.bg-color-orange {
  background-color: var(--color-orange) !important;
}
.bg-color-blue {
  background-color: var(--color-blue) !important;
}

.custom-canvas {
  opacity: 90% !important;
  border-left: 0.4rem solid var(--color-orange) !important;
}

.text-color-blue {
  color: var(--color-blue) !important;
}
.text-color-orange {
  color: var(--color-orange) !important;
}

.border-left-custom {
  border-radius: 4rem 0% 0% 4rem;
}

.d-flex-colum {
  display: flex;
  flex-direction: column;
}

.icon-hover-orange:hover {
  color: var(--color-orange) !important;
  cursor: pointer;
  transition: all 0.5s ease;
}

.p-10 {
  padding: 6rem !important;
}

.form-disabled {
  cursor: not-allowed;
}
.disable-form {
  pointer-events: none;
  opacity: 0.7;
}

.spinner {
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.border-blue-view {
  border-left: 5px solid var(--color-blue);
  border-right: 5px solid var(--color-blue);
}

.custom-image-background {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.table-header-custom {
  background-color: var(--color-blue) !important;
  color: white !important;
  font-weight: bold !important;
  border: 5px solid white !important;
  text-align: center !important;
}
.table-body-custom {
  background-color: white !important;
  color: var(--color-blue) !important;
  font-weight: normal !important;
  border-right: solid var(--color-blue) !important;
  border-left: solid var(--color-blue) !important;
  text-align: center !important;
}

.table-body-td-custom {
  text-align: center;
  font-size: clamp(0.5rem, 2vh, 1rem);
}
